{% extends 'main.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans 'Password Change Successful' %}{% endblock %}

{% block content %}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Password Change Successful</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="job_details_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="apply_job_form white-bg">
                    <h2>Password Change Successful</h4>
                    <p>Your password was changed.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}