{% extends 'main.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans 'Password Change' %}{% endblock %}

{% block content %}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Password Change</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="job_details_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="apply_job_form white-bg">
                    <h2>Password Change</h2>
                    <form method='POST'>
                        <p class='mb-3'>Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <input type="submit" value="Change My Password" class="boxed-btn3 w-100">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}