{% extends 'main.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans 'Register' %}{% endblock %}

{% block content %}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Register</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="job_details_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="apply_job_form white-bg">
                    <h2>Register</h4>
                    <form method='POST' class='form-group'>
                        {% csrf_token %}
                        {% if messages %}
                            {% for msg in messages %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button class="close" type="button" data-dismiss="alert" aria-label="close" fdprocessedid="q83sii">×</button>
                                {{msg}}
                            </div>
                            {% endfor %}
                        {% endif %}
                        {% bootstrap_form form %}
                        <input type="submit" value="Register" class="boxed-btn3 w-100 mt-4">
                        <p class="text-center mt-3">Already Have An Account? <a href="/accounts/login/">Login</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}